body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
    background-size: cover;
  background-image: url("R.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}

div#hmenu {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
  background: orange;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

div#hmenu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div#hmenu li {
 width: 190px;
 float: left;
 margin: 0;
 padding: 0;
 border.right: 1px solid black;
 color: black;
}

div#hmenu a {
  display: block;
  padding: 5px;
  color: #353535;
  text-decoration: none;
}

div#hmenu a:hover {
  background-color: #000333;
  color: #FFFFFF
  text-decoration: none;
}

div#hmenu li ul {
  display: none;
}

div#hmenu li:hover ul {
  display: block;
  position: absolute;
  z-index: 1;
  width: 190px;
  padding: 0;
  margin: 0 0 0 -1px;
  border: 1px solid black;
  background: white;
}

div#hmenu link:visited {
  color:
}

div#hmenu li li {
  border: 1px solid black;
  width: 190px;
}

div#hmenu li li a {
  padding: 2px 2px 2px 10px;
}
