#titolo_main {
  text-align: center;
  color: orange;
  font-family: poppins;
}
.box {
  width: 500px;
  height: 200px;
  margin-bottom: 50px;
  display: block;
  font-size: 20px;
  font-family: poppins
  border: 30px solid orange;
}  
  
